body {
	margin: 0px;
	overflow: hidden;
	display: block;
}

/* https://stackoverflow.com/questions/5796512/how-to-disable-select-for-html5-canvas-element */
canvas {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
